<h1>Home</h1>

<div class="col-md-12 col-xs-12">

  <div class="post-item">
    <label>
      <h4>
        Featured Post
      </h4>
    </label>
    <article>
      <%= link_to @featured_post do %>
        <h2>
          <%= @featured_post.title %>
        </h2>
        <%= image_tag @featured_post.image_url, class: "img-responsive show-img" %>
      <% end %>
      <div class="post-excerpt">
        <p>
          "<%= @featured_post.excerpt %>"
        </p>
      </div>
    </article>
  </div>

  <div class="post-item">
    <label>
      <h4>
        Most Recent
      </h4>
    </label>
    <article>
      <%= link_to @most_recent_post do %>
        <h2>
          <%= @most_recent_post.title %>
        </h2>
        <%= image_tag @most_recent_post.image_url, class: "img-responsive show-img" %>
      <% end %>
      <div class="post-excerpt">
        <p>
          "<%= @most_recent_post.excerpt %>"
        </p>
      </div>
    </article>
  </div>

  <div class="post-item">
    <label></label>
    <article>
      <h2>
        <a></a>
      </h2>
      <div class="post-excerpt">
        <p>
          “Whenever I find myself growing grim about the mouth; whenever it is a damp,
          drizzly November in my soul; whenever I find myself involuntarily pausing
          before coffin warehouses, and bringing up the rear of every funeral I meet;
          and especially whenever my hypos get such an upper hand of me, that it
          requires a strong moral principle to prevent me from deliberately stepping
          into the street, and methodically knocking people's hats off - then, I
          account it high time to get to sea as soon as I can.” ― Herman Melville, Moby-Dick
        </p>
      </div>
    </article>
  </div>

  <div class="post-item">
    <label></label>
    <article>
      <h2>
        <a></a>
      </h2>
      <div class="post-excerpt">
        <p>
          “Consider the subtleness of the sea; how its most dreaded creatures glide under
          water, unapparent for the most part, and treacherously hidden beneath the loveliest
          tints of azure. Consider also the devilish brilliance and beauty of many of its most
          remorseless tribes, as the dainty embellished shape of many species of sharks.
          Consider, once more, the universal cannibalism of the sea; all whose creatures prey
          upon each other, carrying on eternal war since the world began.<br><br>

          Consider all this; and then turn to the green, gentle, and most docile earth;
          consider them both, the sea and the land; and do you not find a strange analogy
          to something in yourself? For as this appalling ocean surrounds the verdant land,
          so in the soul of man there lies one insular Tahiti, full of peace and joy, but
          encompassed by all the horrors of the half-known life. God keep thee! Push not off
          from that isle, thou canst never return!” ― Herman Melville, Moby Dick
        </p>
      </div>
    </article>
  </div>

</div>
